.about-container {
  margin: auto;
  width: 100%;
  min-height: 780px;

  background-image: url('../assets/images/slideImages/20180320_112612.jpg');
  background-size: cover;
}
.title {
  font-size: 36pt;
  color: white;
  width: 100%;
  padding: 20px 60px 60px 60px;
}
.under {
  width: 80% !important;
  margin: auto;
}
.layer {
  background-color: rgba(32, 32, 32, 0.5);
  padding-top: 100px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.owner-img {
  margin: auto;
}
p {
  font-family: 'Open Sans';
  margin: 20px 60px 20px 60px;
  /* padding-top: px; */
  /* padding-top: 80px;
  padding-bottom: 40px; */
  font-size: 20pt;
  color: white;
  line-height: 50pt;
  /* width: 100%; */
}
@media only screen and (max-width: 800px) and (min-width: 200px) {
  p {
    margin: 20px;
    font-size: 16pt;
    line-height: 30pt;
  }

  .layer {
    padding-top: 50px;
  }
  .about-container {
    background-position: center;
    background-attachment: fixed;
  }
}
