label {
  color: black;
}
.contact-container {
  background-image: url('../assets/images/slideImages/20191016_161420.jpg');
  background-size: cover;
  background-position: right;
  /* background-attachment: fixed; */
}
.contact-title {
  font-size: 36pt;
  color: white;
  width: 100%;
  padding: 20px 60px 60px 60px;
}
.contact-form {
  width: 60%;
  padding-top: 20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 40px;
  border: 1px solid white;
  border-radius: 5px;

  /* border: 1px solid black; */
}
.contact-form div {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact-form label {
  text-align: left;
  color: white;
  font-size: 18pt;
}
.contact-form div input {
  font-size: 18pt;
}
.submit-btn {
  margin-top: 20px;
  width: 200px;
  font-size: 24pt;
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.side-by-side {
  flex-direction: row !important;
  justify-content: space-between;
}
.side-by-side div {
  display: flex;
  width: 40%;
  flex-direction: column;
  margin-bottom: 0px;
}
.address {
  text-align: center;
  font-size: 24pt;
  margin: 50px;
  color: white;
}

@media only screen and (max-width: 600px) {
  .contact-form {
    width: 90%;
    border: 1px solid white;
    border-radius: 5px;
    /* background-color: #40b454; */
  }
  .under {
    width: 100% !important;
  }
  .contact-title {
    font-size: 24pt;
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: white;
    padding-left: 20px;
  }
  .address {
    margin-bottom: 40px;
    font-size: 18pt;
  }
  label {
    font-size: 14pt !important;
    color: white !important;
  }
  input {
    font-size: 14pt !important;
  }
  .date {
    font-size: 16pt !important;
    width: 45% !important;
  }
  .date input {
    height: 38px;
  }
  .budget {
    /* width: 50% !important; */
  }
  .submit-btn {
    font-weight: bold;
  }
  .contact-container {
    background-position: right;
    /* background-attachment: fixed; */
  }
}
