.services-container {
  margin: auto;
  width: 100%;
  min-height: 780px;

  background-image: url('../assets/images/slideImages/20180216_113525.jpg');
  background-size: cover;
}
.title {
  font-size: 36pt;
  color: white;
  width: 100%;
  padding: 20px 60px 60px 60px;
}
.layer {
  background-color: rgba(32, 32, 32, 0.5);
  padding-top: 100px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}
.owner-img {
  margin: auto;
}
ul {
  font-family: 'Open Sans';
  margin: 0px 0px 0px 40px;
  font-size: 20pt;
  color: white;
  line-height: 50pt;
  /* list-style-type: none; */
}
@media only screen and (max-width: 800px) and (min-width: 200px) {
  .title {
    font-size: 24pt;
    padding-left: 20px;
  }
  ul {
    margin: 10px;
    font-size: 16pt;
    line-height: 30pt;
  }
  li {
    margin-bottom: 20px;
  }
  .layer {
    padding-top: 50px;
  }
  .services-container {
    background-position: center;
    background-attachment: fixed;
  }
}
