.nav-container {
  width: 100%;
  background-color: white;
}
.nav-bar {
  padding: 30px 0px 0px 0px !important;
  z-index: 999;
  background-color: white;
  width: 80%;
  margin: auto;
  /* background: rgba(252, 250, 250, 0.8) !important; */
}
img {
  margin-bottom: 5px;
}
.nav-links {
  font-size: 18pt;
  position: absolute;
  bottom: 0;
  right: 0;

  /* margin-right: 20px; */
}
.nav-link {
  color: rgb(35, 36, 36) !important;
  padding-left: 30px !important;
}
.nav-links:hover {
  text-decoration: none;
}
/* .quote-request {
  background-color: #40b454;
  border-radius: 10px;
  color: white !important;
}
.quote-request:hover {
  background-color: rgb(49, 49, 49);
} */

@media only screen and (max-width: 800px) and (min-width: 200px) {
  .navbar-toggle {
    float: left !important;
    top: -87px;
  }
  .nav-links {
    font-size: 18pt;
    position: relative;
    bottom: 0;
    right: 0;
  }
  .nav-link {
    padding-left: 5px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .nav-bar {
    position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  body {
    padding-top: 100px;
  }
}
